



<div class="container-fluid">
    <h2>@localizer["Dashboard"]</h2>
        <div>
        <label for="Customer">@localizer["Customer"]</label>
        <table>
            <tr>
                <th>@localizer["CustomerName"]</th>
                <th>@localizer["Company"]</th>
                <th>@localizer["Contact"]</th>
            </tr>
            
        </table>
        </div>
    
</div>